@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*BASE*/

html {
  font-family: 'Calistoga', cursive, sans-serif;
}

#header {
  background-color: hsla(345, 6%, 13%, 1);
}

#header .container {
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}

.container .title {
  display: flex;
  color: #fff;
  align-items: center;
  position: relative;
  right: 1.5rem;
  top: 1rem;
}

.toogle {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.text-container {
  border: 1px solid #00000033;
  width: 20.9375rem;
  display: flex;
  margin: 3.93rem auto;
}

.text-container p {
  font-size: 1.125rem;
  text-align: center;
}

section .options {
  width: 18.06rem;
  height: 2.6875rem;
  background-color: hsla(57, 53%, 84%, 1);
  margin: 1.1875rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav #menu {
  opacity: 0;
  visibility: hidden;
  right: -20rem;
}

nav.show #menu {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  background-color: #fff;
  right: 0;
  transition: 0.3s;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

nav.show .icon-close {
  visibility: visible;
  color: black;
  opacity: 1;
  display: flex;
  position: absolute;
  right: 2rem;
}

#menu ul li {
  margin: 2rem auto;
}

#footer {
  display: flex;
  width: 100vw;
  background: hsla(182, 37%, 58%, 1);
  margin-top: 5.625rem;
  align-items: flex-end;
  justify-content: center;
}

#footer i {
  margin: 0.625rem 1rem;
}

#footer .icon-instagram {
  font-size: 2.75rem;
}

#footer .icon-whatsapp {
  font-size: 3rem;
}

#footer .face {
  font-size: 3.3rem;
}
